<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="versionURL" value="https://downloads.rclone.org/version.txt"/>
    <add key="updateURL" value="https://downloads.rclone.org/rclone-current-windows-amd64.zip"/>
    <add key="ffUpdateURL" value="https://ffmpeg.zeranoe.com/builds/win64/static/ffmpeg-latest-win64-static.zip"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>